---
---

html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
}

header,
footer {
    background-color: #213;
    color: #fff;
    margin: 0;
    h1,
    h2 {
        max-width: 960px;
        margin: 0px auto;
    }
    h1 {
        padding: 8px;
    }
    h2 {
        font-size: 100%;
        font-weight: normal;
        padding: 8px;
    }
}
footer {
    p {
        max-width: 960px;
        margin: 0px auto;
        font-size: 80%;
        padding: 16px;
        a {
            color: #fff;
        }
    }
}

article {
    max-width: 960px;
    margin: 16px auto;
}
