html,
body {
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

div.ipuzzler {
    padding: 4px;
    display: grid;
    grid-template: 1fr / auto 1fr 1fr;
}

div.puzzle-grid {
    display: grid;
    background-color: #000;
    grid-gap: 1px;
    border: 1px solid #000;
    width: 480px;
    height: 480px;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr);
    margin: 0;
}

div.puzzle-grid > span {
    background-color: #fff;
    text-align: center;
    position: relative;
}
div.puzzle-grid > span.barred-t {
    border-top: 2px solid #000;
}

div.puzzle-grid > span.barred-l {
    border-left: 2px solid #000;
}
div.puzzle-grid > span.barred-tl {
    border-style: solid;
    border-color: #000;
    border-width: 2px 0 0 2px;
}

div.puzzle-grid span span.clue-number {
    font-size: 8px;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 1px;
    left: 1px;
    z-index: 0;
    background: transparent;
}
div.puzzle-grid span.block {
    background-color: #000;
}

div.puzzle-grid > span input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 10% 0 0 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
}
div.puzzle-grid span input:focus {
    font-weight: bold;
    background-color: #9999ff;
    mix-blend-mode: darken;
}

div.puzzle-grid span.current-clue {
    background-color: #ccccff;
}

ul.clue-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.clue-list li {
    padding: 4px 0px 4px 1.6em;
    border-radius: 4px;
    margin: 0;
    text-indent: -1.6em;
}
ul.clue-list li.current-clue {
    background-color: #ccccff;
    font-weight: bold;
}

ul.clue-list li a {
    text-decoration: none;
    color: #000;
}

ul.clue-list li a label {
    min-width: 1.4em;
    font-weight: bold;
    display: inline-block;
    text-indent: 0;
    margin: 0;
    padding: 0 0.1em;
}

@media only screen and (max-width: 768px) {
    div.ipuzzler {
        display: block;
    }
    /* div.ipuzzler div.puzzle-grid > span input {
        font-size: 16px;
    } */
    div.ipuzzler div.puzzle-grid {
        width: calc(100vw - 10px);
        height: calc(100vw - 10px);
    }
}

@media only screen and (max-width: 320px) {
    div.ipuzzler div.puzzle-grid {
        width: 310px;
        height: 310px;
    } 
    /* div.ipuzzler div.puzzle-grid > span input {
        font-size: 12px;
    } */
    div.ipuzzler div.puzzle-grid span span.clue-number {
        font-size: 6px;
    }
}
