<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css" />
    <script type="module" src="js/ipuzzler.js"></script>
</head>

<body>
    <header>
        <h1>iPuzzler</h1>
        <h2>A web component for publishing interactive crossword puzzles in iPuz format</h2>
    </header>
    <article>
        {{ content }}
    </article>
    <footer>
        <p>iPuzzler: a web project by <a href="https://twitter.com/dylanbeattie">@dylanbeattie</a> &bull; <a href="https://github.com/dylanbeattie/ipuzzler">view on github</a></p>
    </footer>
</body>

</html>